html{
    font-family: Tahoma,sans-serif;
    background-color: #fff8bd;
    text-align: center;
}
button{
    padding: 1rem 1.5rem 1rem 1.5rem;
    background: linear-gradient(rgb(130, 255, 47),rgb(0, 199, 66));
    font-size: 1rem;
    font-weight: 1000;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 5px rgb(102, 255, 0);
    border: 1px solid rgb(0, 92, 0);
    color: white;
}
h1{
    text-shadow: 0px 0px 20px rgb(110, 110, 110);
    text-align: center;
}
label{
    display: block;
    font-size: 2rem;
}
input{
    display: block;
    margin: 1rem auto;
    padding: 1rem;
    background: linear-gradient(rgb(255, 174, 0),rgb(216, 115, 0));
    font-size: 1rem;
    font-weight: 1000;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 5px #c55f00;
    border: none;
    color: white;

}
button:active{
    transform: scale(1.1);
    transition-duration: 0.2ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-delay: 0.1ms;

}

#parent-div{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    align-content: baseline;
    margin: 20px auto;
}
.box{
    background-color: white;
}
